<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dept.DeptMapper">
	<insert id="deptInsert" parameterType="Dept">
		insert into dept values(#{deptno}, #{dname}, #{loc})
	</insert>
	<select id="selectAll" resultType="Dept">
		select * from dept
	</select>
	<update id="deptUpdate" parameterType="Dept">
		update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
	</update>
	<select id="selectByDeptno" parameterType="int" resultType="Dept">
		select deptno, dname, loc from dept where deptno=#{deptno}
	</select>
	<delete id="deptDelete" parameterType="int">
		delete from dept where deptno=#{deptno}
	</delete>
	<select id="selectByDeptnoHashMap" parameterType="int" resultType="hashmap">
		select * from dept where deptno=#{deptno}
	</select>
</mapper>